<footer class="app-footer">
  <span>
    v<%= (appMeta && appMeta.version) || "0.0.0" %> •
    <%= (appMeta && (appMeta.gitSha || appMeta.build)) || "dev" %> •
    <%= (appMeta && (appMeta.buildDate || appMeta.date)) || "" %>
  </span>
</footer>
